@font-face{
	font-family: "Open Sans";
	src: url("../fonts_nav/OpenSans.ttf");
}
@font-face{
	font-family: "DMSans";
	src: url("../fonts_nav/DMSans.ttf");
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-transform: capitalize;
	font-family: "DMSans";
}
/*===parte 1===*/
#tarantulla{
	background-color: #0F0314;
	overflow: none;
}
#header_principal{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 7vh;

}
#menu{
	cursor: pointer;
}
#menu .a, #menu .b{
	background-color: #FF9035;
	width: 30px;
	height: 8px;
	border-radius: 50px;
}
#menu .a{
	margin: 10px 10px 5px 5px;
}
/*===logomarca===*/
.logo{
	font-size: 2rem;
	color: white;
	font-weight: 400;
	margin-left: 10px;
	cursor: default;
}
.logo span{
	color: #FF9035;
}
/*=======pontos=====*/
#pontos{
	display: flex;
	justify-content: space-around;
	width: 100%;
	margin-top: 7px;
	margin-bottom: 5px; 
}
#player{
	color: #FF9035;
	font-size: 1.5rem;
}
#oponente{
	color: #6100FF;
	font-size: 1.5rem;
}
main{
	display: flex;
	align-items: center;
	justify-content: center;
	/*height: 90vh;*/
}